.container {
    display: flex;
    border: 2px;
    border-color: grey;
    justify-content: center;
}
.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}